<%= simple_form_for(@question, html: {class: "form-horizontal"}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <%= f.label :question %></br>
    <%= f.text_field :question %></br>
  </div>
  <%= f.fields_for :choices do |builder| %>
  <fieldset>
    <%= f.label :choice %></br>
<%= builder.text_field :choice %>
  </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
